
<div id="searchPanel">
    <form [formGroup]="SearchForm" autocomplete="off" >
      <mat-form-field apperance="fill" style="width: 100%;">
          <mat-label> {{this.inputData.label}} </mat-label>
          <input matInput formControlName="search" search  />
      </mat-form-field>
    </form>
  
    <table  mat-table [dataSource]="allData" class="mat-elevation-z8" style="width: 100%;">
    
      
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element">{{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">{{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <!-- <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'O'" style="color: green;">Active</span> 
            <span *ngIf="element.status === 'C'" style="color: red;">Inactive</span> 
          </td> -->
          <td mat-cell *matCellDef="let element" class="left-td" > <p *ngIf="element.status == 'O'" style="color: green;">Active</p> <p *ngIf="element.status === 'C'" style="color: red;">Inactive</p>  <p *ngIf="element.status === 'X'" style="color: rgb(122, 119, 119);">Grace Period</p></td>
        </ng-container>
        <!-- <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td  mat-cell *matCellDef="let element">
                <span #check class="unChecked checkedItem" id="{{element.value}}" > <mat-icon >check_circle</mat-icon> </span>
            </td>
        </ng-container> -->
         
         
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  (click)="toggleSelection(row)" *matRowDef = "let row; columns: displayedColumns;"></tr>
        
    </table>
  </div>
  
  
  
  